.video-js .vjs-expand-control {
  cursor: pointer;
  @include flex(none);

  //Position expand button at top right corner  ---  avideo
  width: 3em;
  float: right;
}
.video-js .vjs-expand-control {
  @extend .vjs-icon-expand;
}
// Switch to the exit icon when the player is in expanded view
.video-js.vjs-expanded .vjs-expand-control {
  @extend .vjs-icon-contract;
}
